/* body{} */

#heartrate{
    color: white;
    position: absolute;
}
#spo2{
    color: black;
    position: absolute;
}

#bpm{
    color: rgb(255, 255, 255);
    position: absolute;
    padding-left: 440px;
    padding-top: 270px;
    font-family: Arial;
    font-weight: bold;
}




#spo21{
    color: rgb(255, 255, 255);
    position: absolute;
    padding-left: 1115px;
    padding-top: 320px;
    font-family: Arial;
    font-weight: bold;
}

html {    
    /* background: url('greencircles.jpg') no-repeat center fixed;      */
    background: url('../images/greencircles.jpg') no-repeat center fixed;
    background-size: cover;
    position: absolute;
    
}