<!DOCTYPE html>
<html lang="en">{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1" >
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
    <title>Ouroboros</title>
</head>

<body>
    <div style="width: 100%; display: table;">
        <div style="display: table-row; height: 100px;">
            <div style="width: 50%; text-align: center; display: table-cell; background: rgb(52, 55, 104);">
                <!--<h2 id = "heartrate" style="font-size:50px">Heart Rate:</h2>-->
                <p id = "bpm" style="font-size: 4.5vw">{{bpm}} bpm</p>
            </div>
            <div style="display: table-cell; text-align: center; background: rgb(52, 55, 104);"> 
                <!--<h2 id = "spo2" style="font-size:50px">Oxygen Saturation:</h2>-->
                <p id = "spo21" style="font-size: 4.5vw">{{spO2}}%</p>
            </div>
        </div>
    </div>
 </body>
</html>